#Nav-Container > div{
    padding-left:80px;
    padding-right:80px;
}

.dropdown-item{
    color: rgb(52,88,176);
}

.pe-6 {
    direction:rtl;
    padding-right:11rem !important;
}

.ps-6 {
    direction:ltr;
    padding-left:11rem !important;
}

#Footer-Container > div{
    padding-left:30px;
    padding-right:30px;
}